@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html {
    background-image: linear-gradient(to bottom right, rgb(70, 39, 70), rgb(39, 39, 112));
}

body {
    min-height: 100vh;
    color: white;
}

/* Header */
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background: linear-gradient(to bottom, #2e435a 75%, rgba(46, 67, 90, 0) 100%);
    padding-bottom: 1%;
}


h1 a {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2vw;
    text-decoration: none;
    color:white;

}

h4 {
    font-size: 3rem;
    padding: 1vw 3vw;
    text-align: center;
    margin-top: 3vw;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav a {
    text-decoration: none;
    color: white;

    font-weight: 1000;

    padding: 0 2vw;
}

/*  */
canvas {
    display: block;
    margin: 20px auto;
    padding: 1rem;
    background-image: radial-gradient(#9694eb 75%, rgb(1, 1, 1, 0) 100%);
    border-radius: 2rem;
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  #saveForm {
    display: block;
    margin-top: 20px;
  }
  #controls { 
    margin-top: 10px; 
  }
  #seekBar { 
    width: 50%; margin: 10px 0; 
  }
  #audioInput {
    display: none; /* Hide the input itself */
  }

  #uploadAudioLabel {
    display: inline-block;
    padding: 1rem;
    margin: 1rem;

    cursor: pointer;
    background-color: #385fd6;
    color: white;

    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
  }



  /* Toggle */

  #toggle {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }

  #toggle p {
    text-decoration: none;
    color: white;
    padding: 0 0.2rem;
    width: 6vw;
    text-align: center;
    font-size: 1.5rem;
  }

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .big_button {
    border: 0.4rem white solid;
    border-image: linear-gradient(to bottom right, rgb(11, 204, 247), rgb(103, 2, 99)) 1;
    border-radius: 0.5rem;
    padding: 2rem;
    font-size: 3rem;
    color: white;
    margin-top: 3rem;
    display: inline-block;

    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: border 0.3s ease-in-out;
  }

  .big_button:hover {
    border-image: linear-gradient(to bottom right, rgb(103, 2, 99), rgb(11, 204, 247)) 1;
  }


#downloadLink {
    display: inline-block;
    font-size: 3rem;
    border: 0.4rem white solid;
    border-image: linear-gradient(to bottom right, rgb(11, 204, 247), rgb(103, 2, 99)) 1;
    border-radius: 0.5rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
    transition: border 0.3s ease-in-out;
    padding: 1rem;
}

#downloadLink:hover {
    border-image: linear-gradient(to bottom right, rgb(103, 2, 99), rgb(11, 204, 247)) 1;
  }